
Library/ArtifactDB
Library/ArtifactDB-lock
Library/Search/transactions.db
Library/ShaderCache.db
Library/SourceAssetDB
Library/SourceAssetDB-lock
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/FSTimeGet-57a708fe0328eba4b8d860ecbab3883e
Temp/UnityLockfile
